@import "./variables.scss";
@import "./mixin.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-sans;
}

.header {
  @include items-center;
  justify-content: space-between;
  height: 118px;
  background: $bg-primary;
  @include lateral-spacing;

  &__logo {
    @include items-center;
    gap: 4px;

    &__image {
      @include size(100px, 100px);

      @include for-tablet-portrait-up {
        @include size(70px, 70px);
      }
    }

    &__title {
      @include font-config(28px, 400, $text-primary);

      @include for-desktop {
        font-size: 24px;
      }

      @include for-tablet-landscape-up {
        font-size: 22px;
      }
    }
  }

  &__nav {
    @include items-center;
    gap: 80px;

    &__links {
      text-decoration: none;
      @include link-animation;
      @include font-config(28px, 400, $text-primary);

      @include for-desktop {
        font-size: 18px;
      }

      @include for-tablet-landscape-up {
        font-size: 16px;
      }
    }

    @include for-desktop {
      gap: 20px;
    }

    @include for-tablet-landscape-up {
      gap: 12px;
    }

    @include for-tablet-portrait-up {
      display: none;
    }
  }
}

.container {
  &__about {
    @include items-center;
    justify-content: space-between;
    gap: 32px;
    @include lateral-spacing;
    background: $bg-secondary;

    &__text {
      width: 50%;
      margin: 24px 0;
      @include font-config(24px, 400, $text-secondary);

      @include for-desktop-up {
        font-size: 20px;
      }

      @include for-tablet-portrait-up {
        width: 100%;
        text-align: center;
        margin: 0 0 24px 0;
      }
    }

    &__image {
      @include size(365px, 365px);
      margin: 24px 0;
      object-fit: cover;

      @include for-tablet-portrait-up {
        @include size(100%, 100%);
      }
    }

    @include for-tablet-portrait-up {
      flex-direction: column-reverse;
      gap: 8px;
    }
  }

  &__awareness {
    @include items-center;
    justify-content: space-between;
    gap: 32px;
    @include lateral-spacing;
    background: $bg-primary;

    &__text {
      width: 50%;
      margin: 24px 0;
      @include font-config(24px, 400, $text-primary);

      @include for-desktop-up {
        font-size: 20px;
      }

      @include for-tablet-portrait-up {
        width: 100%;
        text-align: center;
        margin: 0 0 24px 0;
      }
    }

    &__image {
      @include size(50%, auto);
      object-fit: cover;
      margin: 24px 0;

      @include for-tablet-portrait-up {
        @include size(100%, 100%);
      }
    }

    @include for-tablet-portrait-up {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__tips {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    background: $bg-secondary;
    @include lateral-spacing;
    padding-top: 88px;
    padding-bottom: 88px;

    &__image {
      @include size(100%, 100%);
      object-fit: cover;
    }

    @include for-tablet-landscape-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-phone-only {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
